<h1>アカウント情報</h1>

<%= form_for(@user) do |f| %>
    
    <div class="form-group">
        <label for="exampleInputName1">名前：</label>
        <%= f.text_field  :name, class: "form-control", id: "exampleInputName1" %>
    </div>
    <div class="form-group">
        <label for="exampleInputContent1">メールアドレス：</label>
        <%= f.text_field :email, class: "form-control", id: "exampleInputContent1" %>
    </div>
    <div class="form-group">
        <label for="exampleInputContent1">パスワード：</label>
        <%= f.password_field :password, class: 'form-control', id: "exampleInputContent1" %>
    </div>
    <div class="form-group">
        <label for="exampleInpuPassConfirm1">パスワード確認：</label>
        <%= f.password_field :password_confirmation, class: 'form-control', id: "exampleInpuPassConfirm1" %>
    </div>
    <div class="form-group">
        <label for="exampleInputProfile1">プロフィール：</label>
        <%= f.text_field :profile, class: "form-control", id: "exampleInputProfile1" %>
    </div>
    <div class="form-group">
        <label for="exampleInputAddress1">住所：</label>
        <%= f.text_field :address, class: "form-control", id: "exampleInputAddress1" %>
    </div>
    
    <div class="form-group">
        <%= f.submit class: "btn btn-sm btn-primary" %>
    </div>
    
<% end %>